@charset "UTF-8";

/* ----- custom font ----- */
@font-face {
    font-family: 'GOT_font';
    src: url('Game_of_Thrones.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* ----- end custom font ----- */

/* ----- default styles ----- */
body { background-image:url(../images/grungeBG.jpg);
	background-repeat:no-repeat; background-position:center center;
	background-color:#000000; font-size:16px; }

h1 {
	font-family: 'GOT_font';
	color:white;
	margin-top:30px;
	font-size:1.25em;
}

main {
	position:relative;
	width:100%;
	text-align:center;
	top:30px;
}

#imageContainer {
	width:600px;
	height:360px;
	background-color:grey;
	margin:0 auto;
	overflow:hidden;
}

#houseImages { position:relative; width: 6000px; transition: all 0.9s; }
#houseImages img { float:left; }

#bottomNav { margin-top:30px; }

#navList li {
	display:inline;
	list-style-type:none;
	padding:0px 10px;
	cursor:pointer;
}

/* ----- end default styles ----- */

/* ----- image sprite ----- */
.sigilContainer {
	width:39px;
	height:40px;
	display:inline-block;
	overflow:hidden;
	background-image:url(../images/got-sprite-copy.png);
	background-repeat:no-repeat;
	transition:transform .3s;
	-webkit-transition:-webkit-transform .3s;
	-moz-transition:-moz-transform .3s;
}

.stark { background-position:0px -40px; }
.stark:hover { background-position:0px 0px; }

.baratheon { background-position:-38.5px -40px; }
.baratheon:hover { background-position:-39px 0px; }

.lannister { background-position:-77px -40px; }
.lannister:hover { background-position:-77px 0px; }

.tully { background-position:-115px -40px; }
.tully:hover { background-position:-115px 0px; }

.greyjoy { background-position:-153px -40px; }
.greyjoy:hover { background-position:-153px 0px; }

.arryn { background-position:-191px -40px; }
.arryn:hover { background-position:-191px 0px; }

.targaryen { background-position:-229px -40px; }
.targaryeny:hover { background-position: -229px 0px; }

.frey { background-position:-267px -40px; }
.frey:hover { background-position: -267px 0px; }

.tyrell{ background-position:-305px -40px; }
.tyrell:hover { background-position: -305px 0px; }
/* ----- end image sprite ----- */

/* ----- classes for transitions ----- */

.scaleUp {
	-moz-transform:scale(1.7, 1.7);
	-webkit-transform:scale(1.7, 1.7);
	transform:scale(1.7, 1.7);
}

.scaleHalfUp {
	-moz-transform:scale(1.2, 1.2);
	-webkit-transform:scale(1.2, 1.2);
	transform:scale(1.2, 1.2);
}

/* add styles here for lightbox and video */
.lightbox {
  position: absolute;
  width: 100%;
  height: 100%;

  top: 0;

  background-color: rgba(0, 0, 0, 1);
  color: white;

  display: none;
}

.close-button {
	float: right;
	font-size: 3em;
	cursor: pointer;
	padding-right: 0.7em;
}

.show-lightbox { display: block; }
.house-info {
  color: white;
  font-size: 1.8em;
  line-height: 1;
  width: 75%;
  margin: 0 auto;
}

video {
	width: 70%;
	margin: 1% auto 0 auto;
	border: thin solid white;
}
